<div id="<%= dom_id cliente %>">
  <p>
    <strong>Nome completo:</strong>
    <%= cliente.nome_completo %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= cliente.data_nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= cliente.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= cliente.senha %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= cliente.telefone %>
  </p>

</div>
