<head>
  <style>
      p, h1{
          font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      }
  </style>
</head>
<h2 class="text-center">Dados principais do cliente</h2>
<div class="d-flex justify-content-center">
  <table class="table rounded-table" style="max-width: 1000px;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome completo</th>
      <th scope="col">Data de Nasciment</th>
      <th scope="col">CPF</th>
      <th scope="col">Email</th>
      <th scope="col">Senha</th>
      <th scope="col">Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <td><%= cliente.nome_completo %></td>
      <td><%= cliente.data_nascimento.strftime('%d/%m/%Y') %></td>
      <td><%= cliente.cpf %></td>
      <td><%= cliente.email %></td>
      <td><%= cliente.senha %></td>
      <td><%= cliente.telefone %></td>
    </tr>
    </tbody>
  </table>
</div>

<h2 class="text-center">Dados secundarios: Endereço</h2>
<div class="d-flex justify-content-center">
  <table class="table rounded-table" style="max-width: 1000px;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome da rua</th>
      <th scope="col">Numero</th>
      <th scope="col">CEP</th>
      <th scope="col">Bairro</th>
      <th scope="col">Cidade</th>
      <th scope="col">Complemento</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <td><%= cliente.endereco.nome_da_rua %></td>
      <td><%= cliente.endereco.numero_da_casa %></td>
      <td><%= cliente.endereco.cep %></td>
      <td><%= cliente.endereco.bairro %></td>
      <td><%= cliente.endereco.cidade %></td>
      <td><%= cliente.endereco.complemento %></td>
    </tr>
    </tbody>
  </table>
</div>
