<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div>
  <p><%= link_to "Edit this cliente", edit_cliente_path(@cliente) %> | </p>
  <p><%= link_to "Back to clientes", clientes_path %> </p>

  <p><%= button_to "Destroy this cliente", @cliente, method: :delete %> </p>
</div>
