<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Editar informações", edit_cliente_path(@cliente), class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Retornar a listagem", clientes_path, class: "white-text" %>
  </button>
  <%= button_to "Apagar cliente", @cliente, method: :delete , class: "white-text btn btn-primary custom-button"%>

</div>

<h3 class="contorno-texto" style="color: green;text-align: center"><%= notice %></h3>