<head>
  <style>
    .form-field{
        align-items: center;
    }
  </style>
</head>
<br><br>
<h2 class="text-center">Editar minha conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'row g-3'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col-md-6 form-field">
    <div class="field">
      <%= f.label :email, class: 'form-label', style: 'width: 300px; margin-left: 300px;' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control text-center', style: 'width: 300px; margin-left: 300px;' %>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>

  <div class="col-md-6 form-field">
    <div class="field">
      <%= f.label :password, class: 'form-label', style: 'width: 300px; margin-left: 300px;' %>
      <%= f.password_field :password, autocomplete: "new-password" , class: 'form-control text-center', style: 'width: 300px; margin-left: 300px;'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="field">
      <%= f.label :password_confirmation, class: 'form-label', style: 'width: 300px;' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: 'form-control text-center', style: 'width: 300px;'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="field">
      <%= f.label :current_password, class: 'form-label', style: 'width: 300px; margin-left: 300px;' %>
      <%= f.password_field :current_password, autocomplete: "current-password" , class: 'form-control text-center', style: 'width: 300px; margin-left: 300px;'%>
    </div>
  </div>

  <div class="col-12 text-center">
    <%= f.submit "Atualizar meus dados", class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
<br>
<h3 class="text-center">Deseja apagar sua conta?</h3>
<br>
<div class="col-12 text-center">
  <%= button_to "Apagar minha conta", registration_path(resource_name), class: 'btn btn-danger btn-lg', data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">
      <%= link_to "Pagina inicial", home_index_path, class: "white-text"%>
    </button>
    <button type="button" class="btn btn-primary">
      <%= link_to "Retornar para configurações",conta_path , data: { turbo_method: :post}, class: "white-text"%>
    </button>
  </div>
</div>
<br><br><br><br>