<head>
  <style>
      .form-field {
          margin-bottom: 10px; /* Ajuste o valor conforme necessário */

      }

  </style>
</head>

<%= form_with(model: servico, local: true, html: { class: 'row g-3' }) do |form| %>
  <% if servico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
        <% servico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :nome, class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Nome:
      <% end %>
      <%= form.text_field :nome, class: 'form-control', style: 'width: 300px; margin-left: 300px;',placeholder: 'Digite o nome do serviço'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :descricao, class: 'form-label' do %>
        Descrição:
      <% end %>
      <%= form.text_field :descricao, class: 'form-control', style: 'width: 300px;',placeholder: 'Digite a descrição'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :valor, class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Valor:
      <% end %>
      <%= form.text_field :valor, class: 'form-control', style: 'width: 300px; margin-left: 300px;',placeholder: 'Digite o valor'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :categoria, class: 'form-label' do %>
        Categoria
      <% end %>
      <%= form.text_field :categoria, class: 'form-control', style: 'width: 300px;',placeholder: 'Digite o email'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :horario_inicio, class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Horario de Inicio:
      <% end %>
      <%= form.datetime_field :horario_inicio, class: 'form-control', style: 'width: 300px; margin-left: 300px;',placeholder: 'Digite sua senha: '%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <%= form.label :horario_termino, class: 'form-label' do %>
      Horario de Termino:
    <% end %>
    <%= form.datetime_field :horario_termino, class: 'form-control', style: 'width: 300px;',placeholder: 'Digite a sua profissão'%>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :trabalhador_id , class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Trabalhador
      <% end %>
      <%= form.collection_select(:trabalhador_id, Trabalhador.all, :id, :nome_completo, { selected: @servico.trabalhador_id }, { class: 'form-control', style: 'width: 300px; margin-left: 300px;', placeholder: 'Selecione um trabalhador' }) %>
    </div>
  </div>

  <div class="col-12 text-center">
    <%= form.submit 'Salvar', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
