<%= form_with(model: servico) do |form| %>
  <% if servico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
        <% servico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :descricao %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :categoria %>
  </div>

  <div>
    <%= form.label :horario_inicio, style: "display: block" %>
    <%= form.datetime_field :horario_inicio %>
  </div>

  <div>
    <%= form.label :horario_termino, style: "display: block" %>
    <%= form.datetime_field :horario_termino %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
