<head>
  <style>
    p, h1{
        font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    }
  </style>
</head>
<div class="d-flex justify-content-center">
  <div class="table-responsive" style="max-width: 1000px;">
    <table class="table rounded-table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome completo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor(R$)</th>
        <th scope="col">Categoria</th>
        <th scope="col">Horario de inicio</th>
        <th scope="col">Horario de termino</th>
        <th scope="col">Trabalhador</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td><%= servico.nome %></td>
          <td><%= servico.descricao %></td>
          <td><%= servico.valor %></td>
          <td><%= servico.categoria %></td>
          <td><%= servico.horario_inicio %></td>
          <td><%= servico.horario_termino %></td>
          <td><%= servico.trabalhador.nome_completo %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>