<div id="<%= dom_id servico %>">
  <p>
    <strong>Nome:</strong>
    <%= servico.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= servico.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= servico.valor %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= servico.categoria %>
  </p>

  <p>
    <strong>Horario inicio:</strong>
    <%= servico.horario_inicio %>
  </p>

  <p>
    <strong>Horario termino:</strong>
    <%= servico.horario_termino %>
  </p>

</div>
