<head>
  <style>
    p, h1{
        font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    }
  </style>
</head>
<div id="<%= dom_id servico %>">
  <h1>
    Serviços Ofertados:
  </h1>
  <p>
    <strong>Nome:</strong>
    <%= servico.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= servico.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= servico.valor %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= servico.categoria %>
  </p>

  <p>
    <strong>Horario inicio:</strong>
    <%= servico.horario_inicio %>
  </p>

  <p>
    <strong>Horario termino:</strong>
    <%= servico.horario_termino %>
  </p>

  <p>
    <strong>Trabalhador:</strong>
    <%= servico.trabalhador.nome_completo %>
  </p>

</div>
