<p style="color: green"><%= notice %></p>

<h1><%=link_to "Smart Services", root_path %></h1>
<h2>Serviços</h2>

<div id="servicos">
  <% @servicos.each do |servico| %>
    <%= render servico %>
    <p>
      <%= link_to "Show this servico", servico %>
    </p>
  <% end %>
</div>

<%= link_to "New servico", new_servico_path %>
