<p></p>
<%= render @servico %>
<div>
  <p style="color: green"><%= notice %></p>
</div>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Edit this servico", edit_servico_path(@servico), class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Back to servicos", servicos_path, class: "white-text" %>
  </button>
  <%= button_to "Destroy this servico", @servico, method: :delete , class: "white-text btn btn-primary custom-button"%>

</div>
