<head>
  <style>
      .dropdown{
          text-align: center;
      }
      .card-column {
          flex: 0 0 calc(33.33% - 160px);
          margin-right: 10px;
      }
      .row{
          margin-top: 50px;
          top: 50px;
      }
      .custom-card {
          width: 300px;
          height: 400px;
      }
      .custom-button {
          text-align: center;
          margin-top: 50px;
      }
      .container {
          flex-grow: 2;
      }
      .white-text {
          color: white;
      }
      footer{
          text-align: center;
      }
      .shadow-hover:hover {
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s ease-in-out;
      }
      .scale-hover {
          transition: transform 0.3s ease-in-out;
      }

      .scale-hover:hover {
          transform: scale(1.05);
      }

      .image-container {
          text-align: center;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
          background-color: cornflowerblue;

      }

      .carousel-control-prev {
          margin-top: 150px;
          margin-left: -100px;
      }

      .carousel-control-next {
          margin-top: 150px;
          margin-right: -100px;
      }

      .carousel-inner {
          display: flex;
          transition: transform 0.5s ease-in-out;
          overflow: hidden;
      }

      .carousel-inner .carousel-item {
          flex: 0 0 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: transform 0.5s ease-in-out;
      }
      .card {
          --font-color: #323232;
          --font-color-sub: #666;
          --bg-color: #fff;
          --main-color: #323232;
          --main-focus: #2d8cf0;
          width: 300px;
          height: 400px;
          background: var(--bg-color);
          border: 2px solid var(--main-color);
          box-shadow: 4px 4px var(--main-color);
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; /* Alinhamento vertical */
          text-align: center; /* Alinhamento centralizado do texto */
          padding: 20px;
          gap: 10px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
  </style>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="carousel-container">
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-item active center-block scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('logo/logoES.png') %>" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0001.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0002.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0003.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0004.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0005.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0006.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0007.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item scale-hover">
          <img style="border-radius: 20px;" src="<%= asset_path('release/Lancamento-da-Versao-30_page-0008.jpg') %>" class="d-block w-100" alt="...">
        </div>
        <!-- Left and right controls -->

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="row justify-content-center text-center">
  <div class="col-md-2  mb-4 card-column">
    <div class="card custom-card text-center scale-hover" style="width: 18rem;">
      <div class="image-container">
        <img src="<%= asset_path('iconHome/worker.png') %>" alt="Descrição da Imagem" align="" width="100" height="100" style="margin-top: 20px">
      </div>
      <div class="card-body">
        <h5 class="card-title">Trabalhadores</h5>
        <p class="card-text">Listagem de todos os trabalhadores, simples e fácil.</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary custom-button">
            <%= link_to "Visualizar", trabalhadors_path, class: "white-text" %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 mb-4 card-column">
    <div class="card custom-card text-center scale-hover" style="width: 18rem;">
      <div class="image-container">
        <img src="<%= asset_path('iconHome/serviço.png') %>" alt="Descrição da Imagem" align="" width="100" height="100" style="margin-top: 20px">
      </div>
      <div class="card-body">
        <h5 class="card-title">Serviços</h5>
        <p class="card-text">Listagem de todos os serviços, simples e fácil.</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary custom-button">
            <%= link_to "Visualizar", servicos_path, class: "white-text" %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 mb-4 card-column">
    <div class="card custom-card text-center scale-hover" style="width: 18rem;">
      <div class="image-container">
        <img src="<%= asset_path('iconHome/users.png') %>" alt="Descrição da Imagem" align="" width="100" height="100" style="margin-top: 20px">
      </div>
      <div class="card-body">
        <h5 class="card-title">Clientes</h5>
        <p class="card-text">Listagem de todos os clientes, simples e fácil.</p>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary custom-button">
            <%= link_to "Visualizar", clientes_path, class: "white-text" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div>
  <h4 class="text-center"> Acesse o roadmap do projeto para mais informações</h4>
</div>
<br><br><br><br><br><br>
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <span class="text-muted">© 2023 Smart Service. Todos os direitos reservados.</span>
  </div>
</footer>
</body>


