<head>
  <style>
      .form-field {
          margin-bottom: 10px; /* Ajuste o valor conforme necessário */

      }

  </style>

</head>
<body>
<%= form_with(model: trabalhador, local: true, html: { class: 'row g-3' }) do |form| %>
  <% if trabalhador.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trabalhador.errors.count, "error") %> prohibited this trabalhador from being saved:</h2>

      <ul>
        <% trabalhador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :nome_completo, class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Nome completo:
      <% end %>
      <%= form.text_field :nome_completo, class: 'form-control', style: 'width: 300px; margin-left: 300px;',placeholder: 'Digite o nome completo'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :telefone, class: 'form-label' do %>
        Telefone:
      <% end %>
      <%= form.text_field :telefone, class: 'form-control', style: 'width: 300px;',placeholder: 'Digite o seu telefone'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :data_nascimento, class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Data de nascimento:
      <% end %>
      <%= form.date_field :data_nascimento, class: 'form-control', style: 'width: 300px; margin-left: 300px;'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :email, class: 'form-label' do %>
        Email:
      <% end %>
      <%= form.text_field :email, class: 'form-control', style: 'width: 300px;',placeholder: 'Digite o email'%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <div class="mb-3">
      <%= form.label :senha, class: 'form-label', style: 'width: 300px; margin-left: 300px;' do %>
        Senha:
      <% end %>
      <%= form.text_field :senha, class: 'form-control', style: 'width: 300px; margin-left: 300px;',placeholder: 'Digite sua senha: '%>
    </div>
  </div>

  <div class="col-md-6 form-field">
    <%= form.label :profissao, class: 'form-label' do %>
      Profissão:
    <% end %>
    <%= form.text_field :profissao, class: 'form-control', style: 'width: 300px;',placeholder: 'Digite a sua profissão'%>
  </div>

  <div class="col-12 text-center">
    <%= form.submit 'Salvar', class: 'btn btn-primary btn-lg' %>
    <button class="btn btn-primary btn-lg custom-button">
      <%= link_to "Retornar a listagem", trabalhadors_path , class: "white-text" %>
    </button>
  </div>
<% end %>
</body>

