<head>
  <style>
      p, h1{
          font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
      }
  </style>
</head>
<div id="<%= dom_id trabalhador %>">
  <p>
    <strong>Nome completo:</strong>
    <%= trabalhador.nome_completo %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= trabalhador.telefone %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= trabalhador.data_nascimento %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= trabalhador.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= trabalhador.senha %>
  </p>

  <p>
    <strong>Profissao:</strong>
    <%= trabalhador.profissao %>
  </p>

</div>
