<p style="color: green"><%= notice %></p>

<h1><%=link_to "Smart Services", root_path %></h1>
<h2>Trabalhadores</h2>

<div id="trabalhadors">
  <% @trabalhadors.each do |trabalhador| %>
    <%= render trabalhador %>
    <p>
      <%= link_to "Show this trabalhador", trabalhador %>
    </p>
  <% end %>
</div>

<%= link_to "New trabalhador", new_trabalhador_path %>
<%= link_to "Pagina inicial", home_index_path %>