<p></p>
<%= render @trabalhador %>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Editar trabalhador", edit_trabalhador_path(@trabalhador), class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Retornar a listagem", trabalhadors_path, class: "white-text" %>
  </button>
    <%= button_to "Apagar trabalhador", @trabalhador, method: :delete , class: "white-text btn btn-primary custom-button"%>

</div>
<h2 class="text-center">Serviços deste trabalhador</h2>
<div class="d-flex justify-content-center">
  <table class="table rounded-table" style="max-width: 1000px;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome completo</th>
      <th scope="col">Telefone</th>
      <th scope="col">Data de Nascimento</th>
    </tr>
    </thead>
    <tbody>
    <% @trabalhador.servicos.each do |servicos| %>
      <tr>
        <td><%= servicos.nome %></td>
        <td><%= servicos.descricao %></td>
        <td><%= servicos.valor %></td>
        <td><%= servicos.categoria %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h3 class="contorno-texto" style="color: green;text-align: center"><%= notice %></h3>



