<head>
  <style>
      .img-size {
          width: 500px; /* Ou o tamanho que você desejar */
          height: auto; /* Isso manterá a proporção original da imagem */
      }
      .text-justify {
          text-align: justify;
          margin-left: 50px;
          margin-right: 50px;
      }
  </style>
</head>
<br>
<h1 class="text-center">Sobre Nós</h1>
<p class="text-justify">Esta é a página de informações sobre o nosso projeto. A seguir segue informações sobre o release da nossa nova versão.
  Qual o objetivo do nosso projeto? O sistema visa conectar trabalhadores independentes com potenciais clientes, deve ter as funcionalidades de cadastrar, editar, remover e visualizar, trabalhadores e clientes, os trabalhadores devem ser capazes de cadastrar, editar, remover e visualizar serviços, onde eles vão poder dar uma explicação sobre o serviço, horário de início e término do serviço ao dia, colocar preço e etc. Os clientes devem ser capazes de visualizar e contratar o serviço (o sistema não deve permitir uma contratação de serviço em um horário já ocupado por outro cliente.). Além disso, para que o sistema tenha segurança para seus usuários, deve existir o usuário administrador capaz de fazer uma pesquisa no sistema tanto para cliente quanto para trabalhador, ser capaz de visualizar, remover usuário e visualizar todas as contratações de um usuário a fim de evitar crimes por parte dos mesmos.
</p>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('logo/logoES.png') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0001.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0002.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0003.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0004.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0005.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0006.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0007.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('release/Lancamento-da-Versao-30_page-0008.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
