<div id="<%= dom_id endereco %>">
  <p>
    <strong>Nome da rua:</strong>
    <%= endereco.nome_da_rua %>
  </p>

  <p>
    <strong>Numero da casa:</strong>
    <%= endereco.numero_da_casa %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= endereco.cep %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= endereco.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= endereco.cidade %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= endereco.complemento %>
  </p>

</div>
