<p style="color: green"><%= notice %></p>

<%= render @endereco %>

<div>
  <%= link_to "Edit this endereco", edit_endereco_path(@endereco) %> |
  <%= link_to "Back to enderecos", enderecos_path %>

  <%= button_to "Destroy this endereco", @endereco, method: :delete %>
</div>
