<p style="color: green"><%= notice %></p>

<%= render @endereco %>

<div>
  <%= link_to "Editar endereço", edit_endereco_path(@endereco) %> |
  <%= link_to "Retornar a listagem", enderecos_path %>

  <%= button_to "Apagar endereço", @endereco, method: :delete %>
</div>
