<h2 class="text-center">Informações deste contrato</h2>
<div class="d-flex justify-content-center">
  <div class="table-responsive" style="max-width: 1000px;">
    <table class="table rounded-table">
      <thead>
      <tr>
        <th scope="col">Serviço</th>
        <th scope="col">Cliente</th>
        <th scope="col">Trabalhador</th>
        <th scope="col">Valor</th>
        <th scope="col">Data de inicio</th>
        <th scope="col">Data de entrega</th>
        <th scope="col" style="text-align: center;">Pix</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= contrato.servico.nome %></td>
          <td> <%= contrato.cliente.nome_completo %></td>
          <td> <%= contrato.servico.trabalhador.nome_completo %></td>
          <td> <%= contrato.servico.valor %></td>
          <td> <%= contrato.servico.horario_inicio.strftime('%d/%m/%Y as %H:%M:%S') %></td>
          <td> <%= contrato.servico.horario_termino.strftime('%d/%m/%Y as %H:%M:%S') %></td>
          <td><%= image_tag @contrato.servico.pix, style: 'max-width: 400px; max-height: 400px;' %></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
