<style>
    .toast {
        width: 430px; /* Ajuste o valor conforme necessário */
        height: 200px;
        font-size: 16px; /* Ajuste o valor conforme necessário */
    }

</style>
<h2 class="text-center">Informações deste contrato</h2>
<div class="d-flex justify-content-center">
  <div class="table-responsive" style="max-width: 1500px;">
    <table class="table rounded-table">
      <thead>
      <tr>
        <th scope="col">Serviço</th>
        <th scope="col">Cliente</th>
        <th scope="col">Trabalhador</th>
        <th scope="col">Valor</th>
        <th scope="col">Data de inicio</th>
        <th scope="col">Data de entrega</th>
        <th scope="col">Status do contrato</th>
        <th scope="col">Notificar partes do contrato</th>
        <th scope="col" style="text-align: center;">Pix</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= contrato.servico.nome %></td>
          <td> <%= contrato.cliente.nome_completo %></td>
          <td> <%= contrato.servico.trabalhador.nome_completo %></td>
          <td> <%= contrato.servico.valor %></td>
          <td> <%= contrato.servico.horario_inicio.strftime('%d/%m/%Y as %H:%M:%S') %></td>
          <td> <%= contrato.servico.horario_termino.strftime('%d/%m/%Y as %H:%M:%S') %></td>
          <td> <%= contrato.status %></td>
          <td>
            <%= link_to "mailto:#{contrato.servico.trabalhador.email}?subject=Smart%20Service%20-%20Atualização%20de%20Serviço&body=Olá,%20#{contrato.servico.trabalhador.nome_completo}%0A%0AVocê%20tem%20atualizações%20no%20seu%20serviço:%20#{contrato.servico.nome}.%0A%0A- Cliente:%20#{contrato.cliente.nome_completo}%0A- Valor%20do%20serviço:%20#{contrato.servico.valor}%0A- Contato%20do%20cliente:%20#{contrato.cliente.telefone}%0A- Status%20atual:%20#{contrato.status}%0A%0AVisite%20a%20smart%20service%20para%20mais%20informações%0A%0AAtt,%0ASmartService%20-%20O%20próximo%20passo%20no
gerenciamento%20de%20serviço%0A*Esse%20email%20é%20automático,%20por%20favor%20não%20responda",
                        class: 'btn btn-primary', id: 'emailLink' do %>
              <%= image_tag asset_path('iconHome/email.png'), style: 'height: 32px; weight: 32px;', alt: 'Email Icon', class: 'email-icon' %>
              Enviar E-mail para o Trabalhador
            <% end %>

            <%= link_to whatsapp_url(phone_number: contrato.cliente.telefone, message: 'SUA_MENSAGEM'), style: 'margin-top: 10px;',target: '_blank', class: 'btn btn-primary' do %>
              <%= image_tag asset_path('iconHome/whatsapp.png'), style: 'height: 32px; weight: 32px;', alt: 'WhatsApp Icon', class: 'whatsapp-icon' %>
              Mensagem no WhatsApp do cliente
            <% end %>
          </td>
          <td> <%= image_tag @contrato.servico.pix, style: 'max-width: 400px; max-height: 400px;' %></td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="toast-container position-static">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="<%= asset_path('icone/favicon-16x16.png') %>" class="rounded me-2" alt="...">
      <strong class="me-auto">Notificando trabalhador</strong>
      <small class="text-body-secondary">2 segundos atrás</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      O e-mail contendo informações essenciais, e notificando o trabalhador sobre atualizações referentes ao seu serviço,
      irá ser aberto no seu provedor de e-mail.
    </div>
  </div>

  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="<%= asset_path('icone/favicon-16x16.png') %>" class="rounded me-2" alt="...">
      <strong class="me-auto">Notificando trabalhador</strong>
      <small class="text-body-secondary">Agora</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Certifique-se de estar logado na conta de e-mail da smart service e envie
      o e-mail para o trabalhador.
    </div>
  </div>
</div>

<script>
    document.getElementById('emailLink').addEventListener('click', function(event) {
        event.preventDefault();
        var toastContainer = document.querySelector('.toast-container');
        toastContainer.classList.add('position-fixed', 'bottom-0', 'end-0', 'p-3');

        var toasts = toastContainer.querySelectorAll('.toast');
        toasts.forEach(function(toastElement) {
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        });

        setTimeout(function() {
            window.location.href = event.target.href;
        }, 3000);
    });
</script>