<%= form_with(model: contrato) do |form| %>
  <% if contrato.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
        <% contrato.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente_id, style: "display: block" %>
    <%= form.collection_select(:cliente_id, Cliente.all, :id, :nome_completo,{:selected => @contrato.cliente_id})%>
  </div>

  <div>
    <%= form.label :servico_id, style: "display: block" %>
    <%= form.collection_select(:servico_id, Servico.all, :id, :nome,{:selected => @contrato.servico_id})%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
