<p></p>
<%= render @contrato %>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Edit this contrato", edit_contrato_path(@contrato), class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Back to contratos", contratos_path, class: "white-text" %>
  </button>
  <%= button_to "Destroy this contrato", @contrato, method: :delete , class: "white-text btn btn-primary custom-button"%>
</div>

<h3 class="contorno-texto" style="color: green;text-align: center"><%= notice %></h3>


